apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-postgresql
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: immich-postgresql
  template:
    metadata:
      labels:
        app: immich-postgresql
    spec:
      containers:
      - name: postgres
        image: postgres:16
        env:
        - name: POSTGRES_USER
          value: immich
        - name: POSTGRES_PASSWORD
          value: immich
        - name: POSTGRES_DB
          value: immich
        ports:
        - containerPort: 5432
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: postgres-data
          subPath: postgres
      volumes:
      - name: postgres-data
        persistentVolumeClaim:
          claimName: immich-data-pvc
