apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: traefik
  namespace: default
spec:
  interval: 1m
  url: https://helm.traefik.io/traefik
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: default
spec:
  chart:
    spec:
      chart: traefik
      sourceRef:
        kind: HelmRepository
        name: traefik
      version: 38.0.1
  interval: 1m
  values:
    ports:
      web:
        port: 80
        nodePort: 30000

    ingressClass:
      enabled: false

    providers:
      kubernetesIngress:
         enabled: false
      kubernetesGateway:
         enabled: true

    gateway:
      listeners:
        web:
          port: 80
          protocol: HTTP
          namespacePolicy:
            from: All

    logs:
      general:
        level: INFO
      access:
        enabled: true
